@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Dancing+Script:wght@600;700&family=Poppins:wght@300;400&family=Roboto:wght@400;500&family=Work+Sans:wght@300&display=swap');

.App{
    min-height:100vh ;
    display: flex;
    background-image: url("./Images/background.jpg");
    background-size: cover;
    background-position: center;
    color: black;
}